<div class='container-fluid'>

<div class='pending-homepage row'>
  <div class='homepage-block col-md-3'>
    <p>aaa</p>
  </div>
  <div class='homepage-block col-md-3'>
    <p>aaa</p>
  </div>
  <div class='homepage-block col-md-3'>
    <p>aaa</p>
  </div>
  <div class='homepage-block col-md-3'>

    <p>aaa</p>
  </div>
  <div class='homepage-block col-md-3'>

    <p>aaa</p>
  </div>

</div>

<div class='pending-homepage'>
  <p>aaa</p>

</div>




</div>
